<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>
  <h2>My Profile</h2>
  <main class="profile-grid">
    <div class="profmenu">
      <ul>
        <li><button>Account Information</button></li>
        <li><button>My Orders</button></li>
        <li><button>My Addresses</button></li>
        <li><button>Wishlist</button></li>
        <li><button>Back</button></li>
      </ul>
    </div>

    <section class="account-info">
      <div class="title">Account Information</div>
      <span>First name: </span>
      <span>Last name</span>
      <span>Birth Date</span>
      <span>Phone Number</span>
      <div class="title">E-mail address</div>
      <span>Email</span>
      <button>Edit</button>
      <div class="title">Password</div>
      <button>Change Password</button>
      <button>Delete Account</button>
      <button id="logout" (click)="onLogout()">Logout</button>
    </section>

    <div class="hidden">
      <section class="order-info">
        <div class="title">My Orders</div>
      </section>
      <section class="address">
        <div class="title">My Addresses</div>
      </section>
      <section class="wishlist">
        <div class="title">My Wishlist</div>
      </section>
      <section class="passwordChange">
        <div class="title">Change Password</div>
      </section>
    </div>
  </main>

</body>

</html>
