<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Signup</title>
</head>

<body>

<div class="auth-overlay" *ngIf="isVisible">
  <div class="auth-container">

    <div class="login">
      <p>Login</p>
      <form (ngSubmit)="onLogin()" method="post" id="myForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required>
        <label for="password">Password</label>
        <input type="password" id="login-password" name="login-password" [(ngModel)]="loginData.password"required>
        <button type="submit"> Login <div class="arrow-wrapper"> <div class="arrow"> </div></div> </button>
      </form>
    </div>



    <div class="signup" [class.active]="!isLoginMode" id="myForm">
      <p>Signup</p>
      <form (ngSubmit)="onSignup()" method="post">
        <label for="firstName">First Name</label>
        <input type="text" name="first-name" id="first-name" [(ngModel)]="signupData.first_name" required>
        <label for="lastName">Last Name</label>
        <input type="text" name="last-name" id="last-name" [(ngModel)]="signupData.last_name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="signup-email" [(ngModel)]="signupData.email" required>
        <label for="new-password">Create Password</label>
        <input type="password" name="new-password" id="new-password"[(ngModel)]="signupData.password" required>
        <button type="submit"> SignUp <div class="arrow-wrapper"> <div class="arrow"> </div></div> </button>
      </form>
    </div>


    </div>
  </div>

  </body>
<script>
</script>

</html>
