body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  text-decoration: none;
}

.sidebar {
  background-color: #684c35;
  color: white;
  padding: 20px;
}
a {
  display: block;
  color: white;

  margin-bottom: 15px;
}
.menu-section div {
  display: block;
  margin-top: 20px;
  padding: 15px 15px;
  font-size: large;
}
.menu-section div:hover {
  background-color: #503d2c;
  cursor: pointer;
}

.main-content {
  padding: 30px;
  background-color: white;
}

.header {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

button {
  margin-top: 80px;
  padding: 20px;
  outline: none;
  border: none;
  background-color: #cc7935;
  color: white;
  font-size: larger;
  cursor: pointer;
  border-radius: 10px;
}
